.searchBarContainer {
  
    display: flex;
    justify-content: left;
  }
  
  .searchInput {
    padding: 0.75rem 1rem;
    width: 100%;
    max-width: 800px;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: border 0.2s ease;
    background-color: white;
    color: black;
  }
  
  .searchInput:focus {
    border-color: #1cc972;
  }